# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Archivos de entorno (por si luego usas APIs)
.env

# Archivos de logs
*.log

# Archivos temporales
*.tmp
# Archivos de caché
*.cache
# Archivos de compilación
*.out
